*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: linear-gradient(to right, rgb(41, 36, 36), rgb(50, 50, 50) , rgb(121, 121, 121));
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    background-color: red;
    width: 60rem;
    height: 80vh;
    margin-top: 15px;
    border-radius: 15px;
    box-shadow: 10px 0px 100px 10px rgb(0, 0, 0);
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(70, 70, 70));
 
}
.img-container{
    color: white;
    background: rgba(78, 59, 59, 0.496);
    backdrop-filter: blur(15px);
    box-shadow: 10px 0px 100px 10px rgb(0, 0, 0);
    height: 100%;
    width: 60%;
    border-radius: 15px;
}
.img-contain{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    padding: 10px;
}
.img-contain img{
      border-radius: 10px;
      max-width: 43vw;
      max-height: 60vh;
}
.uplaod{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.uplaod label{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dashed white;
    padding: 5px;
    width: 80px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.uplaod label:hover{
   background-color: seagreen;
   color: black;
}
.filters{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 500px;
    width: 350px;
}
.filters ul{
    
    height: 100%;
    width: 100%;
    list-style: none;

}
.filters ul li{ 
    display: flex;
    justify-content: center;
    gap: 15px;
    height: 65px;

}
.filters ul li input{
    width: 100%;

}
.filters ul li label{
    position: absolute;
}
.buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20px;
   
}
.buttons button{
    width: 80px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    color: white;
    background: seagreen;
    cursor: pointer;
    gap: 10px;
}
.buttons a{
    width: 68px;
    padding: 5px;
    border-radius: 5px;
    font-size: 13px;
    border: none;
    color: white;
    background: seagreen;
    cursor: pointer;
    gap: 10px;
}